---
import Section from "@/components/Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section>
  <div class="max-w-4xl mx-auto mb-10">
    <p class="text-base md:text-lg text-gray-300 leading-relaxed my-4">
      {summary}
    </p>
  </div>
</Section>
