---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <div class="text-center p-10">
        <h1 class="text-3xl mb-6">Contáctame</h1>

        <section class="mb-8">
            <h2 class="text-2xl mb-2">Información de Contacto</h2>
            <p>Email: ejemplo@email.com</p>
            <p>Teléfono: +1 123 456 7890</p>
        </section>
        

    </div>
</Layout>
