---
import Layout from "../layouts/Layout.astro";
const currentPage = "contact";
---

<Layout title="Contacto" currentPage={currentPage}>
    <div class="text-center p-10">
        <h1 class="text-3xl mb-6">Contáctame</h1>

        <section class="mb-8">
            <h2 class="text-2xl mb-2">Información de Contacto</h2>
            <p>Linkedin: <a href="https://www.linkedin.com/in/giovanni-salinas-villa/">Giovanni Salinas</a></p>
            <p>Github <a href="https://github.com/MrPotatoXx">MrPotatoXx</a></p>
        </section>
    </div>
</Layout>
