---
import Layout from "@/layouts/Layout.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
const currentPage = "contact";

import type { SocialIcon } from "@/types";


const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
};
---

<Layout title="Contacto" currentPage={currentPage}>
  <div class="container mx-auto p-10 text-white">
    <h1 class="text-5xl font-bold text-center mb-10 text-gray-300">
      Contáctame
    </h1>
    <div
      class="max-w-lg mx-auto bg-gray-800 shadow-lg rounded-lg overflow-hidden"
    >
      <div class="p-6">
        <h2 class="text-4xl font-semibold mb-4 text-gray-300">
          Información de Contacto
        </h2>
        <div class="space-y-4">
          <!-- LinkedIn -->
          <div class="flex items-center space-x-3">
            <LinkedIn class="h-6 w-6 text-blue-300" />
            <a
              href="https://www.linkedin.com/in/giovanni-salinas-villa/"
              class="text-lg text-blue-300 hover:text-blue-500 transition duration-300"
            >
              LinkedIn: Giovanni Salinas
            </a>
          </div>
          <!-- GitHub -->
          <div class="flex items-center space-x-3">
            <GitHub class="h-6 w-6 text-blue-300" />
            <a
              href="https://github.com/MrPotatoXx"
              class="text-lg text-blue-300 hover:text-blue-500 transition duration-300"
            >
              GitHub: MrPotatoXx
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
