---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const currentPage = 'home';
---

<Layout title="Portafolio" currentPage={currentPage}>
	<div class="flex justify-center px-4 lg:px-0">
		<div class="max-w-screen-lg">
			<h1 class="text-center text-white text-3xl mb-4 sm:text-4xl">Bienvenidos al portafolio de PotatoXx</h1>
			<p class="text-center text-white mb-4 sm:text-lg">Gracias por visitar mi portafolio. Aquí, te presento una variedad de proyectos que reflejan mi experiencia y habilidades en el desarrollo. Si ves algo que te llama la atención y quieres colaborar, no dudes en contactarme.</p>

			<p class="text-center text-white mb-4 sm:text-lg">Desde aplicaciones web hasta análisis de datos, aquí encontrarás un abanico de mis habilidades técnicas.</p>

			<div class="w-auto">
				<p class="text-center text-white mb-4 mt-10 sm:text-lg">Algunos de los lenguajes en los que he trabajado</p>
				<ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
					<Card
						href="/proyects"
						title="Python"
						body="Desarrollo de scripts."
					/>
					<Card
						href="/proyects"
						title="Java"
						body="Aplicaciones empresariales."
					/>
					<Card
						href="/proyects"
						title="JavaScript"
						body="Desarrollo front-end."
					/>
					<Card
						href="/proyects"
						title="SQL"
						body="Gestión de bases de datos."
					/>
				</ul>
			</div>
		</div>
	</div>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
