---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Portafolio">
	<main>
		<Header />
		<div class="flex items-center justify-center h-screen">
			<h1 class="text-white text-3xl">Bienvenidos al portafolio del PotatoXx</h1>
		</div>


	</main>
</Layout>