---
import Layout from "../layouts/Layout.astro";
const currentPage = "privacy";
---

<Layout title="Privacidad" currentPage={currentPage}>
    <div class="text-center p-10">
        <h1 class="text-3xl mb-6">Política de Privacidad</h1>

        <section class="mb-8">
            <p class="mb-4">
                Bienvenido a Portafolio del Potatox. Esta Política de Privacidad aplica a mi sitio web, 
                ubicado en potatox.me, y describe cómo manejo la información personal de 
                mis visitantes.
            </p>

            <h2 class="text-2xl mb-4">Recopilación de Datos</h2>
            <p class="mb-4">
                No recolecto información personal activamente de los visitantes de mi portafolio, excepto 
                cuando ellos deciden proporcionarla voluntariamente, como al completar un formulario de 
                contacto. La información que podría recoger incluye nombre y dirección de correo electrónico.
            </p>

            <h2 class="text-2xl mb-4">Uso de la Información</h2>
            <p class="mb-4">
                Cualquier información personal que reciba será utilizada únicamente para responder a 
                consultas o mejorar la experiencia del usuario en mi portafolio. No comparto, vendo, ni 
                alquilo información personal a terceros.
            </p>

            <h2 class="text-2xl mb-4">Seguridad</h2>
            <p class="mb-4">
                Aunque me esfuerzo por proteger la seguridad de la información personal recibida, la 
                seguridad de la transmisión de datos a través de Internet no puede ser garantizada.
            </p>

            <h2 class="text-2xl mb-4">Enlaces a Otros Sitios</h2>
            <p class="mb-4">
                Mi portafolio puede incluir enlaces a otros sitios web. No soy responsable de las prácticas 
                de privacidad ni del contenido de estos sitios externos.
            </p>

            <h2 class="text-2xl mb-4">Consentimiento</h2>
            <p class="mb-4">
                Al usar mi portafolio, aceptas la recopilación y uso de información según esta política.
            </p>

            <h2 class="text-2xl mb-4">Cambios a la Política de Privacidad</h2>
            <p class="mb-4">
                Me reservo el derecho de modificar esta política de privacidad en cualquier momento. Cualquier 
                cambio será publicado en esta misma página.
            </p>
        </section>
    </div>
</Layout>
