---
import Layout from "../layouts/Layout.astro";
import ProjectCard from '../components/ProjectCard.astro';
const currentPage = "proyects";
---

<Layout title="Proyectos" currentPage={currentPage}>
    <div class="flex flex-wrap justify-center"> <!-- Justify-center para centrar las tarjetas -->
        <div class="p-4 w-full md:w-1/2 lg:w-1/4 flex"> <!-- envolver en un div flex para centrar verticalmente -->
            <ProjectCard
                    title="Year Progress Bar"
                    description="Este proyecto genera una barra de tiempo transcurrido (en minutos) en el año."
                    link="https://github.com/MrPotatoXx/progress_bar_year"
                    imageUrl="/images/progress_bar_year.png"
            />
        </div>
        <div class="p-4 w-full md:w-1/2 lg:w-1/4 flex"> <!-- envolver en un div flex para centrar verticalmente -->
            <ProjectCard
                    title="Video/Music Downloader"
                    description="Este proyecto te permite descargar audios o vídeos de YouTube en su mejor calidad."
                    link="https://github.com/MrPotatoXx/video-music-downloader"
                    imageUrl="/images/music.png"
            />
        </div>
        <div class="p-4 w-full md:w-1/2 lg:w-1/4 flex"> <!-- envolver en un div flex para centrar verticalmente -->
            <ProjectCard
                    title="Portafolio en astro"
                    description="Este proyecto es mi portafolio personal, hecho con Astro y TailwindCSS."
                    link="https://github.com/MrPotatoXx/portafolio"
                    imageUrl="/images/portafolio.png"
            />
        </div>
    </div>
</Layout>
