---
export interface Props {
  title: string;
  badgeId: string;
}

const { title, badgeId } = Astro.props;
---

<div class="card justify-self-center m-auto text-gray-300 w-[300px] h-[400px] hover:brightness-90 transition-all cursor-pointer group bg-gradient-to-tl from-gray-900 to-gray-950 hover:from-gray-800 hover:to-gray-950 border-r-2 border-t-2 border-gray-900 mx-2 my-2 rounded-lg overflow-hidden relative">
	<div class="flex flex-col justify-between h-full p-8">
	  <h2 class="text-xl md:text-2xl mb-4 text-center h-12">{title}</h2>
	  <div class="flex items-center justify-center flex-grow">
		<div data-iframe-width='250' data-iframe-height='250' data-share-badge-id={badgeId} data-share-badge-host='https://www.credly.com' class="mx-10">
		  <script type='text/javascript' async src='//cdn.credly.com/assets/utilities/embed.js' />
		</div>
	  </div>
	</div>
  
	<div class="h-2 w-full bg-gradient-to-l via-yellow-500 group-hover:blur-xl blur-2xl m-auto rounded transition-all absolute bottom-0"></div>
	<div class="h-0.5 group-hover:w-full bg-gradient-to-l via-yellow-950 group-hover:via-yellow-500 w-[70%] m-auto rounded transition-all"></div>
</div>

