---
interface Props {
	href: string;
	title: string;
	body: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none p-1 rounded-lg transition-all shadow-inner bg-gray-800 hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500">
	<a href={href} class="block w-full no-underline leading-snug p-3 rounded-lg text-white hover:text-gray-300">
		<h2 class="text-xl font-semibold">
			{title}
			<span class="ml-2 text-sm">&rarr;</span>
		</h2>
		<p class="mt-2 text-sm">
			{body}
		</p>
	</a>
</li>
