---

---

<header class='flex items-center justify-between flex-wrap pl-10 pt-5 pb-5 bg-black text-white'>
	<div>
		&lt; <a href='/'><img class="w-48 inline-block" src='/banner.png' alt='MrPotatoXx' /></a> /&gt;
	</div>

	<nav class='flex items-center justify-between flex-wrap pr-10'>
		<a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
			&lt; about /&gt;
		</a>
		<a href="/proyects" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
			&lt; proyectos /&gt;
		</a>
		<a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
			&lt; contacto /&gt;
		</a>
	</nav>
</header>
