---

---

<header class='flex items-center justify-between flex-wrap pl-10 pt-5 pb-5 bg-black'>
	<a href='/'><img class="w-48" src='/banner.png' alt='MrPotatoXx' /></a>

	<nav class='flex items-center justify-between flex-wrap pr-10'>
		<a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
			about
		</a>
		<a href="/proyects" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
			proyectos
		</a>
		<a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
			contacto
		</a>
	</nav>
</header>
