---
const { currentPage } = Astro.props;
---

<header class='flex items-center justify-between flex-wrap pl-10 pt-5 pb-5 bg-black text-white'>
    <div>
        <a href='/' class={`${currentPage === 'home' ? 'active-link' : 'inactive-link'}`}>
            <img class="w-48 inline-block" src='/banner.png' alt='MrPotatoXx' />
         </a>
    </div>

    <nav class='flex items-center justify-between flex-wrap pr-10'>
        <a href="/about" class={`block mt-4 lg:inline-block lg:mt-0 ${currentPage === 'about' ? 'active-link' : 'inactive-link'} mr-4`}>
            About 
        </a>
        <a href="/proyects" class={`block mt-4 lg:inline-block lg:mt-0 ${currentPage === 'proyects' ? 'active-link' : 'inactive-link'} mr-4`}>
            Proyectos 
        </a>
        <a href="/contact" class={`block mt-4 lg:inline-block lg:mt-0 ${currentPage === 'contact' ? 'active-link' : 'inactive-link'}`}>
            Contacto 
        </a>
    </nav>
</header>

<style>
    .active-link::before {
        content: '< ';
    }
    .active-link::after {
        content: ' />';
    }
    .inactive-link::before {
        content: '<';
    }
    .inactive-link::after {
        content: '>';
    }
</style>
