---
const { title, id } = Astro.props;
---

<section id={id} class="w-full py-2 scroll-mt-24">
  {title && <h2 class="flex justify-center text-2xl font-bold text-sky-200 mb-3 mt-2">{title}</h2>}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>