---
import Layout from "@/layouts/Layout.astro";
import { getTranslations } from "@/translations";

import About from "@/components/indexsections/About.astro";
import Education from "@/components/indexsections/Education.astro";
import Experience from "@/components/indexsections/Experience.astro";
import Hero from "@/components/indexsections/Hero.astro";
import Projects from "@/components/indexsections/Projects.astro";
import Skills from "@/components/indexsections/Skills.astro";
import Courses from "@/components/indexsections/Courses.astro";

const t = getTranslations('es');
---

<Layout title={t.meta.title} description={t.meta.description}>
  <div class="flex justify-center items-center min-h-screen mt-20">
    <div class="max-w-screen-lg">
      <Hero />
      <About />
      <Experience />
      <Education />
      <Projects />
      <Courses />
      <Skills />
    </div>
  </div>
</Layout>
