---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

interface Props {
	title: string;
	currentPage: string;
}

const { title, currentPage } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio del Potatox" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="keywords" content="Giovanni Salinas, Ingeniería en Informática, ciberseguridad, desarrollo web, programación, Python, Ethical Hacker">
		<meta name="author" content="Giovanni Salinas">
		<meta http-equiv="content-language" content="es">
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Portafolio de Giovanni Salinas, Ingeniero en Informática.">
		<meta property="og:type" content="website">
		<GoogleAnalytics trackingId="G-3K6PX2FWFDO" />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen justify-between">
		<Header currentPage={currentPage}/>
		<main class="justify-items-center">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #0c0c0ce6;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>
