---
import Section from "@/components/Section.astro"
import { skills } from "@cv"
---

<Section title="Habilidades">
  <div class="max-w-4xl mx-auto mb-5 mt-5">
    <ul class="inline-flex gap-2 flex-wrap">
      {
        skills.map(({ name }) => (
          <li class="bg-gray-200 text-black text-sm font-medium rounded-md py-1 px-3">
            <span>{name}</span>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
